header { 

} 
body { 
    background-color: #808080;
    text-align: left;
  }
  
  .billsRed {
    color: #ff0000;
  }
  
  .billsBlue {
    color: #3333ff;
  }  
    
nav { 

} 
h1 { 

} 
h2 { 

} 
ul { 

}